*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif, 'Roboto';
}

body {
    background: #2cb3f2;
    max-width: 1900px;
    margin: 0 auto;
}

header {
    width: 100%;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    height: 50%;
    text-align: center;
}

.container h1 {
    font-size: 3.5rem;
    padding: 10px;
}

.container p {
    font-size: 1.8rem;
}

main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.head {
    background: #FFFFFF;
    width: 38vw;
    height: 55vh;
    border-radius: 15% 15% 0 0;
}

.face {
    background: #FFE1C9;
    width: 40em;
    height: 30em;
    border-radius: 70%;
    position: relative;
    top: 80px;
    height: 530px;
    left: 170px;
}

.right-eye {
    background-color:black;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position:absolute;
    right: 5vw;
    top: 150px;
}

.left-eye {
    background-color:black;
    width: 60px;
    height: 60px;
    border-radius:50%;
    position:absolute;
    right: 17vw;
    top: 150px;
}

form {
    width: 100px;
    position:absolute;
    top: 300px;
    left: 150px;
}

input {
    border: 3px solid #000000;
    border-radius: 5px;
    width: 360px;
    height: 60px;
    padding-left: 5px;
}

button {
    width: 180px;
    height: 60px;
    border-radius: 8px;
    background: #55A603;
    color: white;
    font-size: 1.5rem;
    font-weight :900;
    box-shadow: 0px 4px 4px;
    text-transform:uppercase;
    cursor: pointer;
    margin: 20px;

}

